<h1>Spend Time Here</h1>
<p>The subject in a simple English sentence such as John runs, John is a teacher, or John was run over by a car, is the person or thing about whom the statement is made, in this case John. Traditionally the subject is the word or phrase which controls the verb in the clause, that is to say with which the verb agrees.</p>
